<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="date=no">
    <title>{{ name }}</title>
</head>
<body>
{{ body }}
</body>
</html>