<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="date=no">
    <title>{{ name }}</title>
</head>
THE HELLO CLOCK
{% flush %}
{{ sleep(1000) }}
<body>
{% for i in 1..10 %}
    <div>
    Hello {{ name }} {{ i }}
    </div>
    {% flush %}
    {{ sleep(1000) }}
{% endfor %}
HERE WE
</body>
</html>
{% flush %}